.vscode/**/*
.github/**/*
backend/vendor/**/*
backend/log/**/*
backend/tmp/**/*
backend/storage/**/*
bin/**/*
docker/**/*
docs/**/*
frontend/node_modules/**/*
frontend/android/build/**/*
frontend/android/.gradle/**/*
frontend/android/app/build/**/*
frontend/tmp/**/*
frontend/windows/**/*
raw/**/*
*.keystore
.git/**/*
.env
frontend/build/**/*
*.javac
.gradle/**/*
.graphqlrc.yml
graphql.config.js